* {
  margin: 0;
  padding: 0;
}

.offer {
  pointer-events: all;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

.relative {
  user-select: none;
  position: relative;
}

.ui {
  position: absolute /* needs to be important for fullscreen */ !important;
  pointer-events: auto;
}

html,
body {
  overflow: hidden;
  background-color: black;
}
